<form class="form-login" role="form">
	<label for="userNameInput" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="userNameInput" placeholder="Name" ng-model="user_name">
    </div>

	<label for="passwordInput" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="password">
    </div>
    <button>Login</button>
</form>