1. Projects

Main part of the ALM shall be projects.


1.1. Project information

Projects shall contain this information:
- Project identification number that is unique over all projects
- A name (short text)
- A desctiption (text)


1.2 Project trackers

A project shall be able to contain any number of trackers. Projects are free to decide how many trackers they need as well as the structure of of each tracker.


2. Trackers

Each project shall be able to contain trackers.


2.1. Tracker information

Trackers shall contain this information:
- Tracker identification number that is unique over all trackers in all projects
- A name (short text)
- A desctiption (text)
- A label that shall be used for referencing artifacts of this tracker


2.2. Artifacts

Trackers shall contain artifacts. An artifact is a collection of (data) fields.


2.3. Fixed fields in artifacts

Trackers shall have a small set of fields that shall be present in each artifact:
- Artifact identification number that is unique over all artifacts in all projects and trackers
- A name (short text)
- ID of the user that created the artifact
- Timestamp when artifact was created
- ID of the last user that updated the artifact
- Timestamp when artifact was last updated
- State of the artifact (active or deleted)


2.4. Custom fields in artifacts

Trackers shall be able to contain a custom set of fields in each artifact for a specific tracker.

Each of these custom fields shall contain the following attributes:
- Field identification number that is unique over all fields in all projects and trackers
- A name (short text)
- A description (text)
- Other attributes that are specific to the field's type


2.5. Comments

Each artifact shall be able to contain comments. Comments shall contain the following information:
- User identification that posted the comment
- Timestamp when the comment was submitted
- Comment text


2.6. Editing comments

Comment could be edited. It has to be clear who edited the comment and when. It shall be possible to access all versions of the comment (from the original to the latest).


2.7. File attachments

There should be a possibility for attaching files to an artifact.


2.8. Links between artifacts

It shall be possible to link one artifact to another. Additionaly it shall be possible to define only a specific set of trackers where to which links can be made. The direction of linking shall be available.


2.9. Layout of fields in a tracker

A tracker shall contain information regarding layout of fields in a tracker.


2.10. Tracker reports

TODO (filtering of artifacts)


2.11. Workflow

TODO (allowed transitions between different values)


2.12. Actions on specific events

TODO


2.13. Locking of and artifact

TODO


3. Users and user groups


4. Access control


5. Version control

